[Unit]
Description=SkyTraq binary message logger

[Service]
Type=simple
WorkingDirectory=/home/oresat/oresat-gps-software/scripts
WorkingDirectory=/home/oresat/oresat-gps-software/scripts/skytraq_logger.sh

[Install]
WantedBy=multi-user.target
