[Unit]
Description=SkyTraq binary message logger

[Service]
Type=simple
WorkingDirectory=/home/oresat
ExecStart=/usr/bin/python3 /home/oresat/oresat-gps-software/scripts/skytraq_binary_logger.py

[Install]
WantedBy=multi-user.target
