name: tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - name: Clone this repository
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: "pip"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Check format with Ruff
      run: ruff format --check --diff .

    - name: Lint with Ruff
      run: ruff check

    - name: Typecheck with mypy
      run: mypy oresat_gps

    - name: Test building pypi package
      run: python -m build
